html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}

section{
    scroll-snap-align: start;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
    
}

.container{
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    color:white;
    flex-direction: column;
    align-items: center;
    position: relative;
}


header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 999;
}


.nav-btton{
    padding: 8px;
    
    
}

/* delete later

.nav-btton a{
    padding: 10px;
}

.nav-btton .test1{
    background-color: aliceblue;
}

.nav-btton .test2{
    background-color: brown;
}
    */

.aud-btton{
    background: transparent;
    border: 25px;
    padding: 25px;
    border-radius: 35%;
    cursor: pointer;
    margin: 0%;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    
    /*box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);  use later for off volume     */
}

.aud-btton.paused{
    /*background-color: rgb(46, 52, 97);*/
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);

}

.aud-btton img{
    height: 30px;
    width: 30px;
    margin: 0px;
    padding: 0px;
}

.aud-btton:hover{
    /*background-color: rgb(46, 52, 97);
    box-shadow: 0 5px 15px rgb(100, 118, 138);*/
    box-shadow:inset 0 0 0 1000px rgba(0, 0, 0, .2);
}

/* delete later*/
.nav-btton button{
    display: inline-block;
    padding: 8px 15px;
}

.image-section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.image-src{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.image-src img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.intro-scroll{
    z-index: 1;
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.intro-scroll h1{
    font-family:'Courier New', Courier, monospace;
    font-weight: 20;
    font-size: 16px;
    transform: translate(-50%);
    opacity: 0.7;
    margin:0%

}

.intro-scroll img{
    height: 15px;
    width: 15px;
   /* transform: translate(-50%);*/
    opacity: 0.7;
    
}

.scrolldown {
    animation-name: updown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}

@keyframes updown {
    0% {
        transform: translateX(-50%)translateY(0px);
    }
    50% {
        transform: translateX(-50%)translateY(10px);
    }
    100% {
        transform: translateX(-50%)translateY(0px);
    }
}

.intro-cag{
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    pointer-events: none;
}

.intro-cag h1, h3{
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    
}

.intro-cag h1{
    margin-bottom: 0px;
    font-weight: 999;
    letter-spacing: 9px;
    font-size: 90px;

}

.intro-cag h3{
    font-size: 45px;
    font-weight: 750;
}

.intro-cag p{
    font-size: 25px;
    font-weight: 400;
    font-family:'Courier New', Courier, monospace;
    
}

.intro-cag h1,h3, p{
    color: azure;
    text-align: center;
    

}

.image-section-two{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-src-two{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.image-src-two img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.brief-ov{
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    left: 50%;
    transform:translate(-50%);
    text-align: center;
    pointer-events: none;
}

.brief-ov h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
    font-weight: 999;
    letter-spacing: 1px;
    font-size: 90px;
    text-shadow:2px 2px black ;
}

.brief-ov p{
    font-size: 25px;
    font-weight: 400;
    color: black;
    font-family:'Courier New', Courier, monospace;
    text-shadow:2px 2px rgb(224, 224, 224) ;
    background-color: rgba(131, 226, 187, 0.8);
    border-radius: 6%;

}